* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
body{
	margin: 0px;
	padding: 0px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.nav{
	background-color: white;
	color: black;
	list-style: none;
	text-align: right;
	padding: 5px 0 0 0;
	overflow: hidden;
	max-height: 50px;
	vertical-align: top;
	
}
.nav > li {
	display: inline-block;
	padding: 0 25px 0 25px;
	font-size: 20px;
	
}
.nav > li > a {
	text-decoration: none;
	color:black;
	font-weight: bold;
}
.nav > li > a:hover {
	color:#c1c1c1;
}
.logo {
	float:left;
	padding-left: 25px;
	text-decoration: none;
}
.logo > a > img {
		width: 50px;
		
}
.bg {
	 position: relative; 
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("img/bg.jpg");
	background-position: center center;
    background-size: cover;
	border-top:20px solid rgba(255,255,255,0.35);
	border-bottom: 20px solid rgba(255,255,255,0.35);
}
.bg::before {
	 content: "";
    position: absolute;
	top: 20%;
    right: 30%;
    bottom: 20%;
    left: 30%;
    background-color: rgba(0,0,0,0.50);
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,0.55);
}
h1{
	font-size: 70px;
	color: #edebd9;
	position: relative;
	font-family: 'Bangers', cursive;

}
.se {
    height:250px;
	width:500px;
    background-size: cover;
	border: 5px solid rgba(28,31,76,0.79);
	margin: 20px;
	position: relative;
	display: none;
	border-radius: 12px;
}
.text {
	opacity: 0;
	background: #FFF;
	margin: 0;
	position: absolute;
	bottom: 0;
}
.text > p {
	margin:0;
	opacity: 1;
	
	
}

.slideshow:hover .text{
	opacity: 0.6;
	text-align:justify;
    color:#000000;
    font-size:20px;
    font-weight:700;
    padding:30px;
	
}
#a {
	background: url("img/1.jpg") no-repeat center center;
}
#b {
	background: url(img/2.jpg) no-repeat center center;
}
.h > h3 {
	
	text-align: center;
	margin: 20px 20%;
	background-color: rgba(252,207,23,1);
	font-size: 30px;
	padding: 5px;
	border: 5px dotted #F2B501;
	font-family: 'Lobster', cursive;

}
.tx {
	float:right;
	width:500px;
	background: #00848c;
	margin: 20px;
	padding: 20px;
	color: white;
	font-size: 20px;
	line-height: 35px;
	border-radius: 15px 20px 20px 0;
	border: 5px solid #037272;
	
}
.ct {
	display: flex;
	justify-content: center;
}
h2{
	text-align: center;
	margin: 20px 20%;
	font-size: 30px;
	padding: 5px;
	font-family: 'Lobster', cursive;
}
#sza > p {
	background: #fccf17;
	margin: auto;
	padding:20px;
	border: 5px dotted #F2B501;
	width: 85%;
	font-size: 17px;
}
#sza > p > a {
	text-decoration: none;
	color:black;
	
}
#subtitle1{
	color: #1c1f4c;
	backgroubd-color: #edebd9;
	border:5px dashed #1c1f4c;
	
}
#subtitle2{
	color: white;
	background-color: #FCCF17;
	border: 5px dotted #F2B501;
}